[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/restinio"]
	path = external/restinio
	url = https://github.com/Stiffstream/restinio.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
